version: '3.8'

services:
  web:
    container_name: web-dev
    image: web-dev
    build:
      context: ./web/
      target: development
    volumes:
      - ./web/src:/app/src
    ports:
      - 3000:3000
    depends_on:
      - server
  server:
    container_name: server-dev
    image: server-dev
    build:
      context: ./server/
      target: development
      args:
        EMAIL_USERNAME: ${EMAIL_USERNAME}
        EMAIL_PASSWORD: ${EMAIL_PASSWORD}
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
    ports:
      - 8081:8081
