.circle {
  display: inline-block;
  background-color: #00d53b;
  border-radius: 50%;
  background-color: var(--primary);
  cursor: pointer;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  height: 40px;
  width: 40px;
  color: var(--secondary) !important;
}
