$main-blue-rgb-015: rgba(4, 60, 108, 0.1) !default;

/* Cards */
.postcard {
  text-align: initial;
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: var(--primary);

  a,
  a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  &.dark {
    background-color: transparent;
  }

  .t-dark {
    color: transparent;
  }

  a {
    color: inherit;
  }

  a:hover .myIcon {
    color: var(--primary) !important;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcardTitle {
    font-size: 1.75rem;
  }

  .postcardImg {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcardImgLink {
    display: contents;
  }

  .postcardBar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: var(--primary);
    transition: width 0.2s ease;
  }

  .postcardText {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcardPreviewText {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcardTagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tagItem {
      display: inline-block;
      background: var(--primary);
      color: var(--orange);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: var(--orange);
        color: var(--primary);
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcardBar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcardTitle {
      font-size: 2rem;
    }

    .postcardTagbox {
      justify-content: start;
    }

    .postcardImg {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcardText {
      padding: 3rem;
      width: 100%;
    }

    .media.postcardText:before {
      content: '';
      position: absolute;
      display: block;
      background: transparent;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcardImg {
      transform: scale(1.1);
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
    }

    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n + 1) .postcardText::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n + 0) .postcardText::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .postcardText {
    padding: 2rem 3.5rem;
  }

  .postcardText:before {
    content: '';
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcardText:before {
      background: transparent;
    }
  }
}

.postcard .postcardTagbox .blue.play:hover {
  background: var(--orange);
}
.blue .postcardTitle:hover {
  color: var(--orange);
}
.blue .postcardBar {
  background-color: var(--orange);
}
.blue::before {
  background-image: linear-gradient(
    -30deg,
    $main-blue-rgb-015,
    transparent 50%
  );
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

@media screen and (min-width: 769px) {
  .blue::before {
    background-image: linear-gradient(
      -80deg,
      $main-blue-rgb-015,
      transparent 50%
    );
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      $main-blue-rgb-015,
      transparent 50%
    );
  }
}
