.box {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  padding-bottom: 1rem;
  padding: 0.5rem;
  margin: 0.2rem;
  margin-bottom: 5rem;
}

.box > div {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    align-items: center;
    text-align: initial;
  }
}
