.details {
  padding: 1rem;
  align-self: start;
  h3 {
    font-size: 2.4rem;
    font-weight: 800;
  }
}

@media only screen and (min-width: 768px) {
  .details > h3 {
    font-size: calc(1rem + 2vw);
  }
}
