:root {
  --primary: #043c6c;
  --secondary: #04d0e8;
  --orange: #f58a07;
  --tertiary: #e1eced;
  --footer-height: 50px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* font-family: Dinnext, Greta, Arabic, Droid Sans, Jennah, Helvetica, Ge, SS, */
  /*   Cocon; */
}

h4 {
  color: var(--orange);
}

p,
h5,
h2 {
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$theme-colors: (
  'primary': #043c6c,
  'secondary': #f58a07,
  'light': #e1eced,
  'info': #04d0e8,
);

$body-bg: #e1eced;
$body-color: #043c6c;

$colors: (
  'blue': #043c6c,
) !default;

@import '~bootstrap/scss/bootstrap.scss';
