:root {
  --primary: #043c6c;
  --secondary: #04d0e8;
  --orange: #f58a07;
  --tertiary: #e1eced;
  --footer-height: 2.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Dinnext, Greta;

  /* font-family: Dinnext, Greta, Arabic, Droid Sans, Jennah, Helvetica, Ge, SS, */
  /*   Cocon; */
  background-color: var(--tertiary);
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
