.omanSlogan {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.contact {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.myButton {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
  font-weight: bold;
}

.myButton:hover {
  color: var(--primary);
  background-color: var(--orange);
  transition: background-color 0.2s linear;
}

.whyUs {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .whyUs {
    flex-direction: row;
  }
}
