.layout {
  text-align: center;
  max-width: 1024px;
  margin: auto;
  position: relative;
  min-height: 100vh;
}

.nonFooter {
  paddin-bottom: var(--footer-height);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}
