.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.reviewCard {
  background-color: white;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 15%);
}
