.trips {
  --box-shadow-color: rgba(181, 248, 255, 0.8);
}

.card {
  cursor: pointer;
  width: 200px;
  height: 280px;
  background: white;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(6) translateZ(0);
}

.card:hover .circle {
  border-color: var(--secondary);
  background: var(--primary);
}

.card:hover .circle:after {
  background: var(--orange);
}

.card:hover p {
  color: var(--secondary);
}

.card:hover span {
  color: var(--secondary);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: #4c5656;
  z-index: 1;
  transition: color 0.3s ease-out;
  font-weight: bold;
}

.card span {
  font-size: 0.85rem;
  color: #4c565690;
  z-index: 1;
  transition: color 0.3s ease-out;
  padding: 0.3rem;
  min-height: 5rem;
}

.card path {
  fill: var(--orange) !important;
}

.card:hover path {
  fill: var(--primary) !important;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  border: 2px solid var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: '';
  width: 85px;
  height: 85px;
  display: block;
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 1;
  transform: translateZ(0);
}

.overlay {
  width: 85px;
  position: absolute;
  height: 85px;
  border-radius: 50%;
  background: var(--primary);
  top: 30px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
