.card {
  flex: 1;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 15%);
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  margin: 1rem;

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
