<html>

<head>
  <style>
    html {
      background-color: #e1eced;
    }

    body {
      background-color: #e1eced;
      color: #043c6c;
      padding: 1rem;
      margin: 1rem;
      text-align: center;
    }

    h1 {
      color: #f58a07;
    }
  </style>
</head>

<body>
  <h1>Thanks For Joining Our Experience</h1>

  <h4>
    You chose to try
    <a target="_blank" href="https://omanosaura.com/experiences/{{ .ProductID }}">{{ .Title }}</a>
  </h4>

  {{if .Paid}}
  <p>
    Thanks for paying the {{ .Cost }} omr online, we will be waiting for you
    on {{ .ChosenDate.Format "Jan 02, 2006" }}
  </p>

  {{ else }}

  <p>
    we will be waiting for you on {{ .ChosenDate.Format "Jan 02, 2006" }},
    don't forget that you have preffered the cash option to pay {{ .Cost }}
    omr
  </p>

  {{end}}
  <p>- Omanosaura Team</p>
</body>

</html>
