<html>

<head>
  <style>
    html {
      background-color: #e1eced;
    }

    body {
      background-color: #e1eced;
      color: #043c6c;
      padding: 1rem;
      margin: 1rem;
    }

    h1 {
      color: #f58a07;
    }

    span {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1>Welcome New Explorer!</h1>

  <h5>
  We are excited to have you on board with Omanosaura, please check out all the experiences we offer <a href="https://omanosaura.com/experiences?view=list">here</a>.
  </h5>

  <h6>
    Before booking anything we recommend updating your personal information <a href="https://omanosaura.com/profile">here</a>, so we can reach you more easily.
  </h6>

  <p>
  If you have any queries feel free to contact us on the following email <span>admin@omanosaura.com<span>, or if you prefer social media we are active on
      <a href="https://www.instagram.com/omanosaura/">instagram</a>, we post regularly on any new updates so give us a follow if you wanna stay updated.
  </p>

  <p><span>- Omanosaura Team</span></p>
</body>

</html>
