@import 'variables.scss';

.navbar {
  display: flex;
  align-items: center;
  margin: 8px;
}

.langButton {
  padding: 0px;
  width: 36px;
  background-color: transparent;
  color: $darkBlue;
  font-weight: bold;
  outline: none;
}

.langButtonActive {
  padding: 0px;
  width: 36px;
  background-color: $darkBlue;
  color: $lightBlue;
  font-weight: bold;
}

.langButton:hover {
  color: $darkBlue;
  background-color: $orange;
}

.langButtonActive:hover {
  background-color: $darkBlue;
  color: $lightBlue;
}

.langButtonGroup {
  margin-left: 5px;
}

.navOptions {
  margin-left: auto;
  font-family: 'Tajawal';
  display: flex;
}

.navOptions > a {
  color: $darkBlue;
  margin: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.navInactive:hover {
  border-bottom: 5px solid $orange;
  transition: border-width 0.3s linear;
}

.navActive {
  border-bottom: 5px solid $orange;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $darkBlue;
  padding: 16px;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
}

.footer > img {
  padding: 4px;
}

.footer > h4 > span {
  font-weight: bold;
  color: $orange;
}
