.navbar {
  display: flex;
  align-items: center;
  margin: 8px;
}

.langButton {
  padding: 0px;
  width: 36px;
  background-color: transparent;
  color: #043C6C;
  font-weight: bold;
  outline: none;
}

.langButtonActive {
  padding: 0px;
  width: 36px;
  background-color: #04D0E8 ;
  color: #04D0E8;
  font-weight: bold;
}

.langButton:hover {
  color: #043C6C;
  background-color: #F58A07;
}

.langButtonActive:hover {
  background-color: #043C6C;
  color: #04D0E8;
}

.langButtonGroup {
  margin-left: 5px;
}

.navOptions {
  margin-left: auto;
}

.navOptions > a {
  color: #043C6C;
  margin: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.navOptions > a:hover {
  border-bottom: 5px solid #F58A07;
  transition: border-width 0.3s linear;
}
