.welcomeBox {
  display: flex;
  align-items: center;
}

.welcomeBox > div {
  flex: 1;
}

.omanSlogan {
  font-size: 2rem;
  color: #f58a07;
  font-weight: bold;
}

.contact {
  font-size: 1.5rem;
}

.instaButton:visited {
  color: #043c6c;
}

.instaIcon {
  font-size: 1.5rem;
}
