.welcomeBox {
		height: 50vh;
		padding: 0;
		padding-top: 30px;
		margin: 0;
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
}

.omanSlogan {
  text-align: center;
  user-select: none;
  font-size: 3rem;
  color: #F58A07;
  font-weight: bold;
}

.contact {
  text-align: center;
  font-size: 2rem;
}

.instaButton:visited {
  color: #043C6C;
}

.instaIcon {
  font-size: 1.5rem;
}
