.instaButton:visited {
  color: #043c6c;
}

.instaIcon {
  font-size: 1.5rem;
}

.welcomeBox {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  padding-bottom: 1rem;
}

.welcomeBox > div {
  flex: 1;
}

.omanSlogan {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.contact {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.section {
  margin-bottom: 5rem;
}

.section > h3 {
  font-size: calc(1rem + 2vw);
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

.services > div {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.whyus > div {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .welcomeBox {
    flex-direction: row;
    align-items: center;
    text-align: initial;
  }
}

.trips {
  --bg-color: #043c6c;
  --bg-color-light: #04d0e8;
  --text-color-hover: #04d0e8;
  --box-shadow-color: rgba(181, 248, 255, 0.8);
}

.card {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.card path {
  fill: #04d0e8 !important;
}

.card:hover path {
  fill: #043c6c !important;
}

.circle:after {
  content: '';
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.whyUs > div {
  display: flex;
  flex-direction: column;
}

.whyUs > div > div {
  flex: 1;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 15%);
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  margin: 1rem;
}

.whyUs > div h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  .whyUs > div {
    flex-direction: row;
  }
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: 'Barlow Condensed', sans-serif;
  max-width: 620px;
  margin: 80px auto;
  align-self: center;
}

/* Blockquote header */
.blockquote h1 {
  font-family: 'Abril Fatface', cursive;
  position: relative; /* for pseudos */
  color: #043c6c;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
  content: '';
  position: absolute;
  border: 2px solid #043c6c;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -60px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.blockAR h1:after {
  transform: rotate(270deg);
  right: 50px;
}

.blockquote h1:before {
  content: '';
  position: absolute;
  width: 80px;
  border: 6px solid #229aa2;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

.blockAR h1:before {
  right: 50px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
}

.blockAR h4 {
  z-index: 1;
  margin-right: 150px;
  padding-right: 12px;
}

.blockquote h4:first-letter {
  margin-left: -12px;
}

.blockAR h4:first-letter {
  margin-left: 3px;
}

.blockAR h4 {
  padding-right: 2px;
}
