@import 'variables.scss';

.navbar {
  display: flex;
  align-items: center;
  margin: 8px;
}

.logo {
  width: 210px;
}

.langButton {
  padding: 0px;
  width: 36px;
  background-color: transparent;
  color: $darkBlue;
  font-weight: bold;
  border-color: $darkBlue;
  outline: none;
}

.langButtonActive {
  padding: 0px;
  width: 36px;
  background-color: $darkBlue;
  color: $lightBlue;
  font-weight: bold;
}

.langButton:hover {
  color: $darkBlue;
  background-color: $orange;
}

.langButtonActive:hover {
  background-color: $darkBlue;
  color: $lightBlue;
}

.langButton:focus {
  box-shadow: none !important;
}

.langButtonGroup {
  margin-left: 5px;
}

.navOptions {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.navOptionsColumn {
  position: absolute;
  z-index: 100;
  background-color: $aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-self: center;
  text-align: center;
  opacity: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), opacity 0.4s ease-in-out;

  &.active {
    max-height: 1000px;
    opacity: 1;
    padding: 20px 0;
    transition: max-height 0.5s ease-in-out, opacity 0.25s ease-in-out;
  }
}

.navOptionsColumn > a {
  color: $darkBlue;
  font-weight: bold;
  font-size: 1.1rem;
}

.navOptionsColumn > a > div {
  padding: 8px;
}

.navOptions > a {
  color: $darkBlue;
  margin: 8px;
  font-weight: bold;
  text-decoration: none;
}

.navOptions > a > div {
  font-size: 1.1rem;
  padding: 0.3em 0.4em;
  border-radius: 4px;
}

.navInactive:hover {
  background-color: $orange;
  transition: background-color 0.2s linear;
}

.navActive {
  background-color: $darkBlue;
  color: $lightBlue;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $darkBlue;
  padding: 16px;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
}

.footer > img {
  padding: 4px;
}

.footer > h4 > span {
  font-weight: bold;
  color: $orange;
}

.navbar svg {
  height: 50px;
  width: 50px;
  right: 20px;
  top: 5px;
  position: absolute;
  visibility: visible;
  cursor: pointer;
}

.navbarAr svg {
  left: 20px;
  right: auto;
}

@media all and (min-width: 800px) {
  .navbar svg {
    visibility: hidden;
  }

  .navOptions {
    visibility: visible;
  }

  .navOptionsColumn {
    visibility: hidden;
  }

  .logo {
    width: 300px;
  }
}

.plate {
  height: 50px;
  width: 50px;
}
.burger {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: $darkBlue;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.plate .line1 {
  stroke-dasharray: 21 185.62753295898438;
  transition-delay: 0;
}
.plate .line2 {
  stroke-dasharray: 21 178.6514129638672;
  transition-delay: 30ms;
}
.plate .line3 {
  stroke-dasharray: 21 197.92425537109375;
  transition-delay: 60ms;
}
.plate .line4 {
  stroke-dasharray: 21 190.6597137451172;
  transition-delay: 90ms;
}
.plate .line5 {
  stroke-dasharray: 21 208.52874755859375;
  transition-delay: 120ms;
}
.plate .line6 {
  stroke-dasharray: 21 186.59703063964844;
  transition-delay: 150ms;
}
.active.plate .line1 {
  stroke-dasharray: 5 185.62753295898438;
  stroke-dashoffset: -141px;
}
.active.plate .line2 {
  stroke-dasharray: 5 178.6514129638672;
  stroke-dashoffset: -137px;
}
.active.plate .line3 {
  stroke-dasharray: 5 197.92425537109375;
  stroke-dashoffset: -176px;
}
.active.plate .line4 {
  stroke-dasharray: 5 190.6597137451172;
  stroke-dashoffset: -159px;
}
.active.plate .line5 {
  stroke-dasharray: 5 208.52874755859375;
  stroke-dashoffset: -139px;
}
.active.plate .line6 {
  stroke-dasharray: 5 186.59703063964844;
  stroke-dashoffset: -176px;
}
.active.plate .x {
  transition: transform 400ms 250ms;
}
